# Python general
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/ # Distribution and installation metadata
pip-wheel-metadata/

# Data files
data/

# Virtual environment
.venv

# IDE files
.idea/
*.iml

# OS
.DS_Store

build/
dist/
*.egg
*.whl

# Temporary files
*.tmp
*.swp
*.swo

models/
